body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
}

span {
    color: #2E2F42;
}

a {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
}

a:hover, a:focus {
    color: #404bbf;
}

address {
    font-style: normal;
}

section {
    background-color: #2e2f42;
}

h1 {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

button:hover, button:focus {
    background-color: #404BBF;
}

.footer-content {
    background-color: #2E2F42;
    color: #F4F4FD;
    padding: 2rem 1rem;
    text-align: left;
}

.footer-content .logo {
    color: #F4F4FD;
}

.footer-content .logo .web {
    color: #4D5AE5;
}

.footer-content p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 1rem;
}
