body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
    margin: 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
}

span {
    color: #2E2F42;
}

a {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

a:hover, a:focus {
    color: #404bbf;
}
.nav-links, .contact-info {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li, .contact-info li {
    margin-right: 1rem;
}

.nav-link, .contact-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
}

.nav-link:hover, .contact-link:hover, .nav-link:focus, .contact-link:focus {
    color: #404BBF;
}

address {
    font-style: normal;
}

.hero-section {
    background-color: #2E2F42;
    text-align: center;
    padding: 3rem 1rem;
    color: #FFFFFF;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    margin-top: 1rem;
}

.hero-button:hover, .hero-button:focus {
    background-color: #404BBF;
}

.features {
    padding: 3rem 1rem;
    background-color: #FFFFFF;
}

.features ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.features li {
    width: 23%;
    margin-bottom: 2rem;
}

.feature-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.feature-description {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team, .portfolio {
    padding: 3rem 1rem;
}

section {
    background-color: #2e2f42;
}

h1 {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}


.section-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 2rem;
}

.team ul, .portfolio ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team li, .portfolio li {
    width: 30%;
    margin-bottom: 2rem;
    background-color: #FFFFFF;
}

.team img, .portfolio img {
    width: 100%;
}

.team-member-name, .portfolio-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin: 1rem 0 0.5rem;
}

.team-member-role, .portfolio-category {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 1rem;
}

.footer-content {
    background-color: #2E2F42;
    color: #F4F4FD;
    padding: 2rem 1rem;
    text-align: left;
}

.footer-content .logo {
    color: #F4F4FD;
}

.footer-content .logo .web {
    color: #4D5AE5;
}

.footer-content p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 1rem;
}
